@model FileTemplateManager.Models.TemplateModel
<h2>Setup</h2>

@using (Ajax.BeginForm("Setup", "ManageTemplate", new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "result" }))
{
	@Html.DropDownListFor(
		m => m.SelectedProjectId,
		Model.Projects
			.Select(x => new SelectListItem
			{
				Text = x.ProjectName,
				Value = x.ProjectId.ToString(),
				Selected = x.ProjectId == Model.SelectedProjectId
			}),
		new { onchange = "$('form').submit();",  @class = "form-control" }
	)
	<p/>

	<div id="result">
		@Html.Partial("SetupForm", Model)
	</div>
}